*sensor-hw/V2.0/sym-lib-table
*sensor-hw/V2.0/sensor-hw-backups/*
*sensor-hw/V2.0/sensor-hw.kicad_prl
*sensor-hw/V2.0/.DS_Store
*sensor-hw/V2.0/#auto_saved_files#
.DS_Store
*sensor-hw/V2.0/fp-info-cache
